@tailwind base;
@tailwind components;
@tailwind utilities;


/* Global CSS Variables */
:root {
  --primary: #1B365D;
  --secondary: #16769c;
  --accent: #DBF5FF;
  --background: #F5E6D3;
}

/* Reset / global styles */
html {
  scroll-behavior: smooth;
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.body{
    @apply p-4 md:p-10 
}

/* Global button class */

.btn {
  @apply text-white text-sm md:text-lg px-4 py-2 rounded-[50px] shadow-black shadow-sm font-semibold mr-4 cursor-pointer;
}

.heading{
    @apply text-xl md:text-3xl font-bold text-primary;
}

.subheading{
  @apply text-center text-sm md:text-[1rem]  text-secondary;
}